<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ubi.mapper.ArticleFileMapper">
  <insert id="addFile" parameterType="map">
    INSERT INTO tb_article_file(articleid,fileid,filename,filepath,createtime,updatetime,delstatus)
    VALUES (#{articleid},#{fileid},#{filename},#{filepath},now(),now(),0)
  </insert>
</mapper>